.TopImage {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.TopImage .topImage-transparent {
  width: 100%;
  height: 100%;
  background-color: #0006;
}
