.Dialog .MuiDialog-paperWidthSm {
  background: none !important;
  box-shadow: none;
}
.Dialog .MuiDialogContent-root:first-child {
  padding-top: 0px;
}
.MuiBackdrop-root {
  /* background-color: rgba(95, 95, 95, 0.8)!important; */
  background: none!important;
  background-color: ""!important;
  /* backdrop-filter: grayscale(100%); */
  /* backdrop-filter: blur(2px); */
/* backdrop-filter: brightness(60%); */
/* backdrop-filter: contrast(10%); */
/* backdrop-filter: drop-shadow(4px 4px 10px blue); */
/* backdrop-filter: grayscale(100%); */
/* backdrop-filter: hue-rotate(170deg); */
/* backdrop-filter: invert(70%); */
/* backdrop-filter: opacity(10%); */
/* backdrop-filter: sepia(40%); */
/* backdrop-filter: saturate(100%); */
  background-color: rgba(0, 0, 0, 0.555)!important;
}

.Dialog .MuiDialogContent-root {
  flex: 1 1 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.Dialog .MuiDialog-paper {
  margin: 0;
  width: 100%;
}

.MuiDialog-paperWidthSm {
  max-width: initial !important;
}
@media (max-width: 663.95px) {
  .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
    max-width: 100% !important;
  }
}
