.register {
  max-width: 450;
  width: 100%;
  background: #fff;
  min-height: 45vh;
  border-radius: 10px;
  position: relative;
  margin: auto;
  margin-top: 200;
}
@media (max-width: 600px) {
  .register {
    margin-top: 120;
    max-width: 100%;
    min-height: 80vh;
    border-radius: 10px 10px 0 0;
    bottom: 0;
  }
}
.register .title {
  text-align: center;
  padding: 0 0 10px 0;
}
.register .close {
  position: absolute;
  padding: 20;
}
.register .input {
  margin: 15px 0;
}
.register .button {
  margin-top: 20px;
}
.register .error {
  margin-top: 20px;
  color: red;
}
.register .link_text {
  margin-top: 30px;
}
.register .link {
  cursor: pointer;
  color: rgb(0, 52, 224);
}
