@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 0px;
  /* font-family: iransansdn, tahoma !important; */
  font-family: "Handlee", cursive;
}
.text-center {
  text-align: center;
}
/*  */
a {
  color: initial;
  text-decoration: none;
}
a:visited {
  color: initial;
}
/*  */
hr {
  border-bottom: none;
  border-width: 1px;
  border-color: #e0e0e0 !important;
  border-left: none;
  border-right: none;
}
/* col */
.md-3 {
  width: 33.33%;
}
@media (max-width: 800px) {
  .md-3 {
    width: 100%;
  }
}
/*  */
.description {
  color: #aaa;
  font-size: 14px;
}
/*  */
.ma-20 {
  margin: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.ma-30 {
  margin: 30px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.ma-10 {
  margin: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.ma-5 {
  margin: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}

.ma-0 {
  margin: 0px;
}
.mr-0 {
  margin-right: 0px !important;
}
.ml-0 {
  margin-left: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}

.pa-5 {
  padding: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}

.pa-0 {
  padding: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}

.pa-10 {
  padding: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pa-20 {
  padding: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}

.pa-30 {
  padding: 30px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}

.pa-60 {
  padding: 60px !important;
}
.pr-60 {
  padding-right: 60px !important;
}
.pl-60 {
  padding-left: 60px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.h-100vh {
  height: 100vh;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.aigns-center {
  align-items: center;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.c-pointer {
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: auto;
}
.w-md-30 {
  width: 30%;
}
.w-md-40 {
  width: 40%;
}
.w-md-50 {
  width: 50%;
}
.w-md-60 {
  width: 60%;
}

.w-md-70 {
  width: 70%;
}
@media (max-width: 1110px) {
  .w-md-30 {
    width: 100%;
  }
  .w-md-40 {
    width: 100%;
  }
  .w-md-50 {
    width: 100%;
  }
  .w-md-60 {
    width: 100%;
  }
  .w-md-70 {
    width: 100%;
  }
}

.max-w-100 {
  max-width: 100%;
}
.cover {
  object-fit: cover;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
