.userCard {
  max-width: 400px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 7;
  display: flex;
  justify-content: space-between;
  background-color:#FFF;
  cursor: pointer;
  transition: .3s;
}

.userCard .image {
  width: 100px;
}
.userCard .text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
